##############################################################################
### @author     Knut Kohl <github@knutkohl.de>
### @copyright  2012-2016 Knut Kohl
### @license    MIT License (MIT) http://opensource.org/licenses/MIT
### @version    1.1.0
###
### v1.1.0
### - Add MailOpts for UTF-8 encoding
###
##############################################################################

##############################################################################
### Host for HTTP API and Socket Server
##############################################################################
### If your PVLng installation runs not exclusive on this server, change it
### to your settings, Port is optional if it is the default (80)
##############################################################################
PVLngDomain="localhost"

PVLngURL="http://$PVLngDomain/api"

##############################################################################
### API key
##############################################################################
PVLngAPIkey=""

##############################################################################
### Force mail to be send as UTF-8
### Check if your mail command supports the -S option
##############################################################################
MailOpts="-S sendcharsets=utf-8"
### For bsd-mailx
#MailOpts='-a "Content-Type: text/plain; charset=UTF-8"'

##############################################################################
### Directory for temporary "run" files
### Put into a ram disk if possible
### default: ./run
##############################################################################
RunDir=

##############################################################################
### Global setting for log data
### default: ./data
##############################################################################
SaveDataDir=

##############################################################################
### Curl executable if not automatic detected or in different path
##############################################################################
#CURL=/path/to/curl

##############################################################################
### Common cUrl options
### More at http://curl.haxx.se/docs/manpage.html
##############################################################################
CurlOpts="--connect-timeout 10 --retry 3 --retry-max-time 60"

##############################################################################
### Port for Socket Server
##############################################################################
SocketServerPort=12121
