##############################################################################
### @author     Knut Kohl <github@knutkohl.de>
### @copyright  2012-2014 Knut Kohl
### @license    MIT License (MIT) http://opensource.org/licenses/MIT
### @version    1.0.0
##############################################################################

###
### https://en.wikipedia.org/wiki/Loadavg
###

##############################################################################
### PVLng sensor GUID for load average of last minute
### optional
##############################################################################
LOADAVG_1      ""

##############################################################################
### PVLng sensor GUID for load average of last 5 minutes
### optional
##############################################################################
LOADAVG_5      ""

##############################################################################
### PVLng sensor GUID for load average of last 15 minutes
### optional
##############################################################################
LOADAVG_15     ""




