##############################################################################
### @author     Knut Kohl <github@knutkohl.de>
### @copyright  2012-2014 Knut Kohl
### @license    MIT License (MIT) http://opensource.org/licenses/MIT
### @version    1.0.0
##############################################################################

##############################################################################
### Count of following GUIDs to pocess
##############################################################################
GUID_N        0

##############################################################################
### Reapeat the follwing settings for each sensor to read.
### Give all belonging parameters same _<#>
##############################################################################

### copy >>>

##############################################################################
### PVLng sensor GUID
### required
##############################################################################
GUID_1        ""

##############################################################################
### The 1st column from /proc/meminfo without colon
### required
##############################################################################
KEY_1         ""

### <<< copy
