##############################################################################
### @author      Knut Kohl <github@knutkohl.de>
### @copyright   2014 Knut Kohl
### @license     MIT License (MIT) http://opensource.org/licenses/MIT
### @version     1.0.0
##############################################################################

##############################################################################
### Global settings
##############################################################################

##############################################################################
### The Site Id, same as the serial number of your PVLng Plant channel
### required
##############################################################################
SITE           ""

##############################################################################
### User Name for SolarEdge Monitoring Portal
### required
##############################################################################
USERNAME       ""

##############################################################################
### Passwort for SolarEdge Monitoring Portal
### required
##############################################################################
PASSWORD       ""

##############################################################################
### Count of following GUIDs
### required
##############################################################################
GUID_N         0

### copy section >>>

##############################################################################
### Inverter/Sensorbox GUID
### required, empty GUID skips section
##############################################################################
GUID_1         ""

##############################################################################
### The Optimizer serial (Box Id), is requested by default via API.
### If you run the scripts on remote equipment, you should define them also
### here, so when the connection to your PVLng server fails, the data will
### be collected correctly
### optional
##############################################################################
SERIAL_1       ""

### <<< copy section
