##############################################################################
### @author      Knut Kohl <github@knutkohl.de>
### @copyright   2012-2013 Knut Kohl
### @license     GNU General Public License http://www.gnu.org/licenses/gpl.txt
### @version     1.0.0
##############################################################################

##############################################################################
### You API key
### http://pvoutput.org/account.jsp > API Settings
### Your API key is used to update your data automatically,
### always keep your API key secret. API Access must be enabled
### required
##############################################################################
APIKEY       ""

##############################################################################
### DON'T change from here
##############################################################################
### URL to get system info
GetSystemURL http://pvoutput.org/service/r2/getsystem.jsp

### URL to add system status
AddStatusURL http://pvoutput.org/service/r2/addstatus.jsp

### How many parameters are supported
vMax         12
