##############################################################################
### @author      Knut Kohl <github@knutkohl.de>
### @copyright   2012-2013 Knut Kohl
### @license     GNU General Public License http://www.gnu.org/licenses/gpl.txt
### @version     1.0.0
##############################################################################

##############################################################################
### Replace the placeholders with your data:
###
### - API key   - Your API key
###               Sign up for a key: http://www.wunderground.com/weather/api/
###
### - Language  - Your language code; e.g. english: EN, german: DL
###               http://www.wunderground.com/weather/api/d/docs?d=resources/country-to-iso-matching
###               
### - Loacation - Latitude,Longitude - 2 decimals: 1.2345,1.2345
###
### Check the URL afterwards simply by opening in browser...
###
### required
##############################################################################
APIURL           "http://api.wunderground.com/api/<API Key>/conditions/lang:<Language>/q/<Location>.json"

##############################################################################
### Wunderground group channel GUID
### required
##############################################################################
GUID             ""
